body {
    background-image: url("images/grid_bg.jpg");
    background-repeat:repeat;
    font-family: monospace;
    font-size: 16px;
    color: white;
}

#cover {
    background-color: black;
    position: fixed;
    top:0 ;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#main {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px #fff;
    position: relative;
    margin: 10px auto;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#bio-container {
    margin: 10px;
}

#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pretty-line {
    width: 50%;
    border-bottom: solid 1px grey;
}

#profile-pic {
    margin: 0 30px;
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

#about-me {
    margin-top: 25px;
    text-align: center;
}

#projects {
    margin: 0 10px 30px;
    border-radius: 10px 10px 0 0;
    background-color: #0F7A7A;
}

#projects-header {
    margin-left: 30px;
    color: #EDECEC;
}

#projects-container {
    background-color: black;
}

#projects-container .pretty-line {
    padding: 60px 0;
    margin: 0 auto 100px;
}

.project-title {
    text-align: center;
}

.project-title a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.project-title a:hover {
    color: #0F7A7A;
    text-decoration: underline;
}

.spacing {
    height: 1px;
}

.project {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 30px;
}

.sm-screen-showcase, .lg-screen-showcase {
    position: relative;
}

.sm-screen-showcase {
    width: 200px;
    margin: 0 auto;
}

.sm-screen-showcase img {
    width: 100%;
    position: relative;
    bottom: 0;
}

.sm-screen-vid {
    width: 94%;
    bottom: 37px;
    left: 6px;
    position: absolute;
}

.lg-screen-showcase {
    flex: 1;
}

.lg-screen-showcase img {
    width: 100%;
    height: 100%;
}

.lg-screen-vid {
    width: 94.5%;
    top: 4.5%;
    left: 2.7%;
    position: absolute;
}

@media (min-width: 450px) {

    #main {
        width: 90vw;
        margin: 40px auto;
    }

    #bio-container {
        margin: 30px;
    }

    #projects {
        margin: 0 30px 30px;
    }

}

@media (min-width: 1070px) {

    .project {
        flex-direction: row;
    }

    .sm-screen-showcase img {
        position: absolute;
    }

}

@media (min-width: 1375px) {

    #main {
        width: 80vw;
    }

}